<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Alarm Clock</title>
		<link rel="icon" href="data:;base64,iVBORwOKGO=" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/clock.css')}}">
	</head>
	<body id="body">
		<script type="text/javascript" src="{{ url_for('static', filename='js/utility.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/clock.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/alarms.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/sounds.js')}}"></script>

		{{ id }}
	</body>
</html>