{% extends 'base.html' %}

{% block primaryContent %}
	<form method="POST">

		<input type="hidden" id="alarmId" name="alarmId" value="{{alarm['id']}}" />

		<table>
			<tr>
				<td>time:</td>
				<td><input type="time" id="theTime" name="theTime" value="{{alarm['theTime']}}" required /></td>
			</tr>
			<tr>
				<td>startDate:</td>
				<td><input type="date" id="startDate" name="startDate" value="{{alarm['startDate']}}" required /></td>
			</tr>
			<tr>
				<td>endDate:</td>
				<td><input type="date" id="endDate" name="endDate" value="{{alarm['endDate']}}" required /></td>
			</tr>
			<tr>
				<td>sound:</td>
				<td>
					<select id="sound" name="sound">
						{% for sound in soundList %}
							<option value="{{sound}}"
								{% if sound == alarm['sound'] %}
									selected
								{% endif %}								
							>
								{{sound}}
							</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>enabled:</td>
				<td><input type="checkbox" id="enabled" name="enabled" value="1"
					{% if alarm['enabled'] %}
						checked
					{% endif %}
					/>
				</td>
			</tr>
		</table>
		<table>
			<tr><td>Sunday</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td></tr>
			<tr>
				{% for weekDay in weekDays %}
					<td>
						<input type="checkbox" name="weekDay" value="{{weekDay['theDay']}}" {{weekDay['checked']}} />
					</td>
				{% endfor %}
			</tr>
		</table>
		<input type="submit" value="save" />
{% endblock %}
{% block secondaryContent %}


	
	</form>
{% endblock %}
