{% extends 'base.html' %}

{% block primaryContent %}

	<form method="POST">

		<table>
			<tr>
				<td>TimeZone:</td>
				<td>
					<select id="editTimeZone" name="editTimeZone" value="{{timeZone}}">
					{% for tz in timeZones %}
						{% if tz == timeZone %}
							<option values="{{tz}}" selected>{{tz}}</option>
						{% else %}
							<option values="{{tz}}">{{tz}}</option>
						{% endif %}
					{% endfor %}					
					</select>
				</td>
				<tr>
					<td>Alarm Volume:</td>
					<td>
						<input type="number" name="editVolume" id="editVolume" min=".01" max="1" step=".01" value="{{volume}}">
					</td>
				</tr>
				<tr>
					<td>Brightness:</td>
					<td>
						<input type="number" name="editBrightness" id="editBrightness" min=".01" max="1" step=".01" value="{{brightness}}">
					</td>
				</tr>
				
			</tr>
		</table>
	<input type="submit" value="save" />
{% endblock %}
{% block secondaryContent %}


	
	</form>
{% endblock %}			
