<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Alarm Clock</title>
		<link rel="icon" href="data:;base64,iVBORwOKGO=" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/clock.css')}}">
	</head>
	<body id="body">
		<script type="text/javascript" src="{{ url_for('static', filename='js/utility.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/clock.js')}}"></script>

		<table id="indexTable">
			<tr>
				<td id="systemCell">
					<table id="systemTable">
						<tr>
							<td id="clockCell">
								<div id="clockFace" class="dayFace">
									<div id="hourHand" class="dayHand"></div>
									<div id="minuteHand" class="dayHand"></div>
									<div id="secondHand" class="dayHand"></div>
								</div>
							</td>
							<td>
								<table id="configurationTable">
									<tr>
										<td>Next Alarm:</td>
										<td>00:00</td>
									</tr>
									<tr>
										<td>Time Zone:</td>
										<td>Los Angeles</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td id="alarmCell">
					Alarms

				</td>
			</tr>
			<tr>
				<td id="musicCell">
					Music
				</td>
			</tr>
		</table>
	</body>
</html>