{% extends 'base.html' %}
{% block primaryContent %}

	<table>
		{% for alarm in alarmList %}
			<tr>
				<td><a href="alarm/{{alarm['id']}}">{{alarm['theTime']}}</td>
				<td><a href="alarm/{{alarm['id']}}">{{alarm['startDate']|strftime('%b %-d, %Y')}}</td>
				<td>
					{% if alarm['startDate'] != alarm['endDate'] %}
						<a href="alarm/{{alarm['id']}}">{{alarm['endDate']|strftime('%b %-d, %Y')}}
					{% endif %}
				</td>
				<td><a href="alarm/{{alarm['id']}}">{{alarm['sound']}}</td>
				<td><a href="alarm/{{alarm['id']}}">{{alarm['enabled']}}</td>
			</tr>
		{% endfor %}
		<tr>
			<td><a href="alarm/new">new</td>
		</tr>
	</table>
	
{% endblock %}
{% block secondaryContent %}

	<table>
		{% for sound in soundList %}
			<tr><td>
				<span onClick='playSound("{{sound}}")'>
					{{ sound }}
				</span>			
			</td></tr>
		{% endfor %}
	</table>

{% endblock %}